body {
    font-family: Raleway, BlinkMacSystemFont,-apple-system,"Ubuntu","Droid Sans","Helvetica Neue","Helvetica","Segoe UI","Arial",sans-serif;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .title {
    font-size: 5rem;
}
.main .subtitle {
    font-size: 1rem;
    font-style: italic;
}
.main .logo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: white;
    margin-right: 30px;
}

.intro .hero-body {
    flex-direction: column;
    align-items: center;
}
.features {
    background-color: #7962bd !important;
}
.features .icon {
    font-size: 3rem;
    margin-bottom: 15px;
}

.content ul.horizontal {
    column-count: 3;
    column-gap: 20px;
    list-style-position: inside;
}

.content ul.horizontal a {
    color: unset;
    text-decoration: unset;
}

.content ol {
    list-style-position: inside;
}

.narrow {
    max-width: 912px;
    margin: 0 auto;
}

.has-anchor-link {
    position: relative;
}
.anchor-link {
    position: absolute;
    font-size: 1.1rem;
    top: 0.2rem;
    left: -1rem;
    color: #ccc;
    line-height: 2.1em;
}

.sub {
    font-size: 0.8rem;
}

.button {
    font-family: Raleway, BlinkMacSystemFont,-apple-system,"Ubuntu","Droid Sans","Helvetica Neue","Helvetica","Segoe UI","Arial",sans-serif;
}

#install-button {
    padding: 0;
}
#install-button .icon:first-child {
    margin-left: 5px;
}
#install-button .icon:last-child {
    margin: 0;
    height: 100%;
}
#install-button a {
    color: unset;
    height: 100%;
    line-height: 2.2;
    border-right: solid 1px #ddd;
}

#browser-text {
    padding-right: 10px;
}

.install-desktop .action-text {
    white-space: nowrap;
}


.install-section > div > .columns {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.language-selector {
    position: absolute;
    background-color: white;
    font-size: .95em;
    left: 65%;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
}
.language-selector img {
    height: 15px;
    vertical-align: middle;
}
.language-selector a {
    color: #4a4a4a;
}

.install-or.is-divider {
    display: none;
}
.install-or.is-divider-vertical {
    display: block;
}

@media (max-width: 768px) {
    .main .logo {
        margin-right: 0;
    }
    .intro .main, .intro .main .center {
        flex-direction: column;
        text-align: center;
    }
    .intro .main .title {
        font-size: 3rem;
    }
    .content ul.horizontal {
        column-count: 1;
    }

    .install-or.is-divider {
        display: block;
    }
    .install-or.is-divider-vertical {
        display: none;
    }

    .install-section > div > .columns {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
